# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [2]:
import pandas as pd
d = pd.read_csv("sp500hst.txt")
d.columns = ["date", "ticker", "open", "high", "low", "close", "volume"]
print(d)

            date ticker   open     high     low  close  volume
0       20090824      A  25.64  25.7400  25.330  25.50   22247
1       20090825      A  25.50  25.7000  25.225  25.34   30891
2       20090826      A  25.32  25.6425  25.145  25.48   33334
3       20090827      A  25.50  25.5700  25.230  25.54   70176
4       20090828      A  25.67  26.0500  25.630  25.83   39694
...          ...    ...    ...      ...     ...    ...     ...
122568  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122569  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122570  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122571  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122572  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122573 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [3]:
d.iloc[:,2:6].mean(axis=0)

open     42.595596
high     43.102386
low      42.054601
close    42.602004
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [54]:
d1 = [str(i)[6:] for i in d['date'].values]
d['day'] = d1
d

            date ticker   open     high     low  close  volume day
0       20090824      A  25.64  25.7400  25.330  25.50   22247  24
1       20090825      A  25.50  25.7000  25.225  25.34   30891  25
2       20090826      A  25.32  25.6425  25.145  25.48   33334  26
3       20090827      A  25.50  25.5700  25.230  25.54   70176  27
4       20090828      A  25.67  26.0500  25.630  25.83   39694  28
...          ...    ...    ...      ...     ...    ...     ...  ..
122568  20100813    ZMH  51.72  51.9000  51.380  51.44   14561  13
122569  20100816    ZMH  51.13  51.4700  50.600  51.00   13489  16
122570  20100817    ZMH  51.14  51.6000  50.890  51.21   20498  17
122571  20100819    ZMH  51.63  51.6300  50.170  50.22   18259  19
122572  20100820    ZMH  50.03  50.5500  49.480  49.82   17792  20

[122573 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [146]:
s = d['ticker']
l = s.unique()
s1 = [(i, d["volume"][d['ticker'] == i].sum()) for i in l]
s1

[('A', 8574578),
 ('AA', 81898998),
 ('AAPL', 52261170),
 ('ABC', 9006756),
 ('ABT', 18975870),
 ('ACE', 2906506),
 ('ACS', 1801668),
 ('ADBE', 17422423),
 ('ADI', 10635172),
 ('ADM', 13339643),
 ('ADP', 8087866),
 ('ADSK', 9778386),
 ('AEE', 4674273),
 ('AEP', 9280969),
 ('AES', 18861022),
 ('AET', 15015411),
 ('AFL', 9995961),
 ('AGN', 4755407),
 ('AIG', 45483813),
 ('AIV', 6063038),
 ('AIZ', 3428182),
 ('AKAM', 10834508),
 ('AKS', 22978396),
 ('ALL', 11502909),
 ('ALTR', 19120427),
 ('AMAT', 56669291),
 ('AMD', 70221144),
 ('AMGN', 16530477),
 ('AMP', 6643830),
 ('AMT', 8989869),
 ('AMZN', 20143089),
 ('AN', 5946580),
 ('ANF', 9557503),
 ('AOC', 1358299),
 ('AON', 4351448),
 ('APA', 9695952),
 ('APC', 17442691),
 ('APD', 3958011),
 ('APH', 3192661),
 ('APOL', 7961605),
 ('ARG', 2422470),
 ('ATI', 5537525),
 ('AVB', 3334148),
 ('AVP', 10350922),
 ('AVY', 3430299),
 ('AXP', 26903337),
 ('AYE', 6300012),
 ('AZO', 1585829),
 ('BA', 14314999),
 ('BAC', 465813622),
 ('BAX', 12774405),
 ('BBBY', 8322086),
 ('BBT', 17206883),
 ('BBY', 17081938),
 ('BCR', 2134300),
 ('BDK', 1419839),
 ('BDX', 3739626),
 ('BEN', 3397388),
 ('BF.B', 873300),
 ('BHI', 15817911),
 ('BIG', 4177709),
 ('BIIB', 7427346),
 ('BJS', 11745156),
 ('BK', 22846085),
 ('BLL', 2036019),
 ('BMC', 5694151),
 ('BMS', 2248041),
 ('BMY', 39894656),
 ('BNI', 4813681),
 ('BRCM', 22183968),
 ('BRK.B', 8592561),
 ('BSX', 60477399),
 ('BTU', 14178851),
 ('BXP', 4136628),
 ('C', 1458332551),
 ('CA', 12526234),
 ('CAG', 10333211),
 ('CAH', 9800443),
 ('CAM', 10218807),
 ('CAT', 22758619),
 ('CB', 6448445),
 ('CBE', 1847438),
 ('CBG', 10615126),
 ('CBS', 25742407),
 ('CCE', 12114950),
 ('CCL', 11733304),
 ('CEG', 5027133),
 ('CELG', 9112960),
 ('CEPH', 4542462),
 ('CERN', 611967),
 ('CF', 5100392),
 ('CFN', 2933410),
 ('CHK', 36424597),
 ('CHRW', 4036265),
 ('CI', 9701783),
 ('CIEN', 5533640),
 ('CINF', 2611673),
 ('CL', 6662001),
 ('CLF', 12431920),
 ('CLX', 3191060),
 ('CMA', 7085411),
 ('CMCSA', 57989024),
 ('CME', 1871233),
 ('CMI', 6962570),
 ('CMS', 8388436),
 ('CNP', 9848857),
 ('CNX', 10515330),
 ('COF', 16589463),
 ('COG', 4213925),
 ('COH', 10436228),
 ('COL', 2477059),
 ('COP', 27731812),
 ('COST', 9635382),
 ('CPB', 5671275),
 ('CPWR', 6488692),
 ('CRM', 5184851),
 ('CSC', 2800281),
 ('CSCO', 121933642),
 ('CSX', 10757821),
 ('CTAS', 2950959),
 ('CTL', 7981530),
 ('CTSH', 8602623),
 ('CTXS', 7956952),
 ('CVG', 1237040),
 ('CVH', 4406781),
 ('CVS', 32023462),
 ('CVX', 25688892),
 ('D', 7364227),
 ('DD', 18019143),
 ('DE', 12202681),
 ('DELL', 64852414),
 ('DF', 9507966),
 ('DFS', 17114171),
 ('DGX', 3639905),
 ('DHI', 18643665),
 ('DHR', 6042637),
 ('DIS', 30626382),
 ('DISCA', 3049741),
 ('DNB', 966595),
 ('DNR', 15233072),
 ('DO', 5672995),
 ('DOV', 3739110),
 ('DOW', 28972885),
 ('DPS', 6211298),
 ('DRI', 5777796),
 ('DTE', 3049388),
 ('DTV', 29101728),
 ('DUK', 20278890),
 ('DV', 2661421),
 ('DVA', 2364649),
 ('DVN', 10774056),
 ('DYN', 12132000),
 ('EBAY', 40640512),
 ('ECL', 4703857),
 ('ED', 4582893),
 ('EFX', 2705046),
 ('EIX', 5376053),
 ('EK', 22747925),
 ('EL', 4727544),
 ('EMC', 57953239),
 ('EMN', 2536487),
 ('EMR', 11405907),
 ('EOG', 6943126),
 ('EP', 22016194),
 ('EQR', 8613564),
 ('EQT', 3368552),
 ('ERTS', 17905388),
 ('ESRX', 7374463),
 ('ESV', 3098247),
 ('ETFC', 122969972),
 ('ETFCD', 927375),
 ('ETN', 4343231),
 ('ETR', 3268154),
 ('EXC', 11258312),
 ('EXPD', 4839400),
 ('EXPE', 11762769),
 ('F', 230212585),
 ('FAST', 3234018),
 ('FCX', 35813999),
 ('FDO', 8009684),
 ('FDX', 8130585),
 ('FE', 7312269),
 ('FHN', 7738884),
 ('FII', 3218162),
 ('FIS', 10623371),
 ('FISV', 3514883),
 ('FITB', 41739004),
 ('FLIR', 4548324),
 ('FLR', 7512466),
 ('FLS', 2260180),
 ('FMC', 1533302),
 ('FO', 2771927),
 ('FPL', 6275862),
 ('FRX', 8217385),
 ('FSLR', 4545560),
 ('FTI', 3967684),
 ('FTR', 16437799),
 ('GAS', 980420),
 ('GCI', 15642265),
 ('GD', 5160916),
 ('GE', 204452485),
 ('GENZ', 8898409),
 ('GILD', 26470839),
 ('GIS', 7887018),
 ('GLW', 38613936),
 ('GME', 13052442),
 ('GNW', 33828503),
 ('GOOG', 7512353),
 ('GPC', 2216049),
 ('GPS', 22935301),
 ('GR', 3467660),
 ('GS', 29759299),
 ('GT', 11470628),
 ('GWW', 1843775),
 ('HAL', 40658216),
 ('HAR', 2734916),
 ('HAS', 5243493),
 ('HBAN', 55540709),
 ('HCBK', 16271585),
 ('HCN', 4261976),
 ('HCP', 9232469),
 ('HD', 40600425),
 ('HES', 9368583),
 ('HIG', 22943646),
 ('HNZ', 6064606),
 ('HOG', 9901678),
 ('HON', 13703271),
 ('HOT', 8342518),
 ('HP', 2544172),
 ('HPQ', 41291216),
 ('HRB', 9854774),
 ('HRL', 1437683),
 ('HRS', 2688450),
 ('HSP', 2617406),
 ('HST', 27223247),
 ('HSY', 4344433),
 ('HUM', 5890544),
 ('IBM', 16835588),
 ('ICE', 2560089),
 ('IFF', 1337039),
 ('IGT', 11316569),
 ('INTC', 159979834),
 ('INTU', 8830003),
 ('IP', 16390494),
 ('IPG', 16475888),
 ('IRM', 3119889),
 ('ISRG', 1442724),
 ('ITT', 4000496),
 ('ITW', 8966292),
 ('IVZ', 10968193),
 ('JAVA', 15084797),
 ('JBL', 10247404),
 ('JCI', 13408929),
 ('JCP', 14322877),
 ('JDSU', 14373423),
 ('JEC', 4544134),
 ('JNJ', 30285011),
 ('JNPR', 18422230),
 ('JNS', 7932831),
 ('JPM', 99714792),
 ('JWN', 8902599),
 ('K', 5877054),
 ('KBH', 3880492),
 ('KEY', 43807257),
 ('KFT', 33041221),
 ('KG', 10714895),
 ('KIM', 17171955),
 ('KLAC', 9717092),
 ('KMB', 6915119),
 ('KMX', 2198799),
 ('KO', 26104110),
 ('KR', 22737230),
 ('KSS', 10348370),
 ('L', 5826280),
 ('LEG', 4048356),
 ('LEN', 15162617),
 ('LH', 2798229),
 ('LIFE', 4816235),
 ('LLL', 2424923),
 ('LLTC', 10254172),
 ('LLY', 17958247),
 ('LM', 6439797),
 ('LMT', 7140523),
 ('LNC', 11681528),
 ('LO', 3974104),
 ('LOW', 35253935),
 ('LSI', 23568018),
 ('LTD', 12698894),
 ('LUK', 2527671),
 ('LUV', 22270272),
 ('LXK', 5510442),
 ('M', 28214543),
 ('MA', 4291520),
 ('MAR', 10913461),
 ('MAS', 12512678),
 ('MAT', 11751434),
 ('MBI', 7563266),
 ('MCD', 18867123),
 ('MCHP', 7180339),
 ('MCK', 5940721),
 ('MCO', 10340617),
 ('MDP', 883227),
 ('MDT', 15414700),
 ('MEE', 13463838),
 ('MET', 17538275),
 ('MFE', 7587513),
 ('MHP', 7079285),
 ('MHS', 9426876),
 ('MI', 25292157),
 ('MIL', 2520109),
 ('MJN', 5026442),
 ('MKC', 1766940),
 ('MMC', 8747920),
 ('MMM', 9946553),
 ('MO', 39234188),
 ('MOLX', 3300773),
 ('MON', 17848449),
 ('MOT', 82005003),
 ('MRK', 40948151),
 ('MRO', 15563824),
 ('MS', 44806409),
 ('MSFT', 148263502),
 ('MTB', 2620978),
 ('MTW', 4291326),
 ('MU', 74875446),
 ('MUR', 4456326),
 ('MWV', 3854907),
 ('MWW', 6260196),
 ('MYL', 17653769),
 ('NBL', 4393369),
 ('NBR', 16038775),
 ('NDAQ', 6729445),
 ('NEE', 676138),
 ('NEM', 20770040),
 ('NI', 6569034),
 ('NKE', 7649607),
 ('NOC', 5312643),
 ('NOV', 13762278),
 ('NOVL', 12188805),
 ('NRG', 5245819),
 ('NSC', 7538956),
 ('NSM', 16373878),
 ('NTAP', 16557814),
 ('NTRS', 5176919),
 ('NU', 3291270),
 ('NUE', 11999840),
 ('NVDA', 44344226),
 ('NVLS', 7584584),
 ('NWL', 10757787),
 ('NWSA', 44836067),
 ('NYT', 5231054),
 ('NYX', 7520615),
 ('ODP', 17404794),
 ('OI', 5668338),
 ('OKE', 1161011),
 ('OMC', 6625833),
 ('ORCL', 72867456),
 ('ORLY', 4239954),
 ('OXY', 13104331),
 ('PAYX', 8445504),
 ('PBCT', 11241324),
 ('PBG', 2506159),
 ('PBI', 5059250),
 ('PCAR', 7423484),
 ('PCG', 5877007),
 ('PCL', 5007760),
 ('PCLN', 2717728),
 ('PCP', 2874461),
 ('PCS', 19442218),
 ('PDCO', 2567420),
 ('PEG', 7810685),
 ('PEP', 18108663),
 ('PFE', 141891968),
 ('PFG', 8588550),
 ('PG', 30221406),
 ('PGN', 4881109),
 ('PGR', 10259524),
 ('PH', 4176026),
 ('PHM', 19602048),
 ('PKI', 3649107),
 ('PLD', 24107729),
 ('PLL', 2469588),
 ('PM', 19881711),
 ('PNC', 13123441),
 ('PNW', 2513278),
 ('POM', 6191569),
 ('PPG', 3560081),
 ('PPL', 8674363),
 ('PRU', 10086144),
 ('PSA', 3662361),
 ('PTV', 6828233),
 ('PWR', 7021800),
 ('PX', 4648479),
 ('PXD', 4729825),
 ('Q', 72135628),
 ('QCOM', 52487735),
 ('QEP', 495238),
 ('QLGC', 6584480),
 ('R', 1985443),
 ('RAI', 3393260),
 ('RDC', 8652479),
 ('RF', 69684170),
 ('RHI', 3939027),
 ('RHT', 6305615),
 ('RL', 3033227),
 ('ROK', 3177939),
 ('ROP', 1390417),
 ('ROST', 4503282),
 ('RRC', 7655738),
 ('RRD', 5409234),
 ('RSG', 5681108),
 ('RSH', 9362031),
 ('RTN', 7014745),
 ('RX', 5268679),
 ('S', 146922025),
 ('SAI', 7212085),
 ('SBUX', 23569818),
 ('SCG', 1948727),
 ('SCHW', 30398540),
 ('SE', 8625259),
 ('SEE', 2845427),
 ('SGP', 6951881),
 ('SHLD', 3311024),
 ('SHW', 3378752),
 ('SIAL', 1905354),
 ('SII', 16430285),
 ('SJM', 2210096),
 ('SLB', 27577165),
 ('SLE', 19456110),
 ('SLM', 13306241),
 ('SNA', 1064985),
 ('SNDK', 24976035),
 ('SNI', 1872279),
 ('SO', 11198406),
 ('SPG', 7953817),
 ('SPLS', 20587901),
 ('SRCL', 1719904),
 ('SRE', 4575245),
 ('STI', 20096614),
 ('STJ', 8919707),
 ('STR', 4251628),
 ('STT', 13499417),
 ('STZ', 5107467),
 ('SUN', 7069497),
 ('SVU', 10066480),
 ('SWK', 4286023),
 ('SWN', 12295021),
 ('SWY', 14419552),
 ('SYK', 5392248),
 ('SYMC', 31547120),
 ('SYY', 9633698),
 ('T', 72663312),
 ('TAP', 3301169),
 ('TDC', 3922025),
 ('TE', 4700386),
 ('TEG', 1654609),
 ('TER', 14738485),
 ('TGT', 16763436),
 ('THC', 24419702),
 ('TIE', 8884222),
 ('TIF', 6137259),
 ('TJX', 12145501),
 ('TLAB', 22750367),
 ('TMK', 1857763),
 ('TMO', 9406828),
 ('TROW', 5205842),
 ('TRV', 11923283),
 ('TSN', 12029111),
 ('TSO', 14211843),
 ('TSS', 3604592),
 ('TWC', 6461890),
 ('TWX', 19917729),
 ('TXN', 37544223),
 ('TXT', 13539537),
 ('UNH', 28622008),
 ('UNM', 8932449),
 ('UNP', 9909622),
 ('UPS', 12239714),
 ('URBN', 4833037),
 ('USB', 34861756),
 ('UTX', 12163143),
 ('V', 13970362),
 ('VAR', 2795874),
 ('VFC', 2113630),
 ('VIA', 163084),
 ('VIA.B', 3034901),
 ('VLO', 27514119),
 ('VMC', 3319411),
 ('VNO', 5212380),
 ('VRSN', 10095195),
 ('VTR', 4760596),
 ('VZ', 47722257),
 ('WAG', 20752063),
 ('WAT', 2382132),
 ('WDC', 12456534),
 ('WEC', 2105539),
 ('WFC', 109991283),
 ('WFMI', 6619418),
 ('WFR', 15906800),
 ('WHR', 3981783),
 ('WIN', 12437293),
 ('WLP', 13431478),
 ('WM', 5956178),
 ('WMB', 15691661),
 ('WMT', 36872441),
 ('WPI', 2979294),
 ('WPO', 142063),
 ('WU', 17153290),
 ('WY', 6001290),
 ('WYE', 5511073),
 ('WYN', 6707713),
 ('WYNN', 7819520),
 ('X', 35908163),
 ('XEL', 6982177),
 ('XL', 12216026),
 ('XLNX', 16842047),
 ('XOM', 66633788),
 ('XRAY', 2709860),
 ('XRX', 41236860),
 ('XTO', 21297931),
 ('YHOO', 56837171),
 ('YUM', 10971538),
 ('ZION', 15551119),
 ('ZMH', 4938916)]

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [206]:
import pandas as pd
d1 = pd.read_csv("sp500hst.txt")
d1.columns = ["date", "ticker", "open", "high", "low", "close", "volume"]
n1 = pd.read_csv("sp_data2.csv", sep=";", header = None)
n1.columns = ["ticker", "name", "pr"]
d2 = pd.merge_ordered(d1,n1.loc[:,"ticker":"name"],fill_method=None, how="left")
d3 = pd.merge_ordered(d1,d2)
d3

,date,ticker,open,high,low,close,volume,name
0,20090821,AA,12.64,12.73,12.490,12.56,338295,NaN
1,20090821,AAPL,167.81,169.37,166.800,169.22,148597,NaN
2,20090821,ABC,21.14,21.25,20.900,21.05,33179,AmerisourceBergen
3,20090821,ABT,45.58,46.00,45.315,45.39,84699,Abbott Laboratories
4,20090821,ACS,45.08,45.33,44.400,45.32,17241,NaN
...,...,...,...,...,...,...,...,...
122568,20100820,XRX,8.91,9.07,8.850,8.97,98025,Xerox
122569,20100820,YHOO,13.83,13.95,13.740,13.79,171927,NaN
122570,20100820,YUM,41.55,42.40,41.550,42.32,25347,Yum Brands
122571,20100820,ZION,19.15,19.27,18.810,19.14,37225,Zions Bancorp
122572,20100820,ZMH,50.03,50.55,49.480,49.82,17792,NaN

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [ ]:
recipes = pd.read_csv('data/recipes_sample.csv', parse_dates=['submitted'])
reviews = pd.read_csv('data/reviews_sample.csv', index_col=0)
print(reviews)
recipes

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
reviews_shape = reviews.shape
recipes_shape = recipes.shape
print(f'Отзывы: {reviews_shape[0]} строк и {reviews_shape[1]} столбцов')
print(f'Рецепты: {recipes_shape[0]} строк и {recipes_shape[1]} столбцов')
print('Отзывы:')
print(reviews.dtypes)
print('Рецепты: ')
recipes.dtypes

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
print(recipes.isnull().any())
print()
print(reviews.isnull().any())
print()
print(recipes.isnull().sum()/recipes.shape[0])
print()
print(reviews.isnull().sum()/reviews.shape[0])

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
print(f'rating: {reviews["rating"].mean(numeric_only=True)}')
print()
print(recipes[['minutes','n_steps','n_ingredients']].mean(numeric_only=True))

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
s = recipes.sample(10).loc [:, 'name'] 
for el in s:
    print(el)

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
reviews.reset_index(drop=True, inplace=True)
reviews

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
recipes.loc[((recipes['minutes'] <=20) & (recipes['n_ingredients' ] <=5))]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
recipes.loc[(recipes['submitted'].dt.year <=2010)]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
recipes['description_length'] = recipes.loc [:,'description'].str.len()
recipes

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
recipes['description_length'] = recipes.loc [:,'description'].str.len()
recipes

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipes.loc[:,'name'] = recipes.loc[:,'name'].apply(lambda x:x.title())
recipes

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
recipes['name_word_count'] = recipes.loc[:,'name'].apply(lambda x:len(x.split()))
recipes

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
contributors = recipes.loc [:,'contributor_id'].unique()
d = dict()
for i in contributors:
    d[i] = len(recipes[recipes['contributor_id'] == i])
max(d.items(), key=lambda x: x[1])

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
avg_rating_per_recipe = reviews.groupby('recipe_id')['rating'].mean()
recipes_without_reviews = avg_rating_per_recipe.isna()
recipes_without_reviews

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
r = recipes.loc [:, 'submitted'].dt.year.unique()
d = dict()
for i in r:
    d[i] = len(recipes[recipes['submitted'].dt.year == i])
d

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
df = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id', how='left')
df1 = df.dropna(subset=['review'])
df1 = df1[['id', 'name', 'user_id', 'rating']]
df1.info()

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
print(len(df['recipe_id'].unique()))
df2 = df.groupby(['recipe_id', 'name']).size().reset_index(name='review_count')
print(df2.shape)
print(df2[df2['review_count'] == 0])

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [ ]:
df['year'] = df['submitted'].dt.year
rating_by_year = df.groupby('year')['rating'].mean().reset_index()
min_rating_by_year = rating_by_year.loc[rating_by_year['rating'].idxmin()]
min_rating_by_year

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [ ]:
recipes = recipes.sort_values('name_word_count')
recipes[['description_length', 'name', 'name_word_count']].to_csv('output6-1.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
with pd.ExcelWriter('recipes_and_reviews.xlsx') as writer:
    df1.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    df2.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3